@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: lightblue;
    height: 100vh;
    color: black;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
}

.grid {
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: repeat(25, 1fr);
}

.container.radius {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 14;
    border: 5px solid;
    height: 30rem;
    margin-top: 12rem;
    border-radius: 2.5rem;
}

.container.rules {
    position: relative;
    grid-column-start: 17;
    grid-column-end: 23;
    height: 30rem;
    margin-top: 13rem;

}

/* .radius {
    border-radius: 2.5rem;
} */

.text-par {
    display: flex;
    position: relative;
    grid-column-start: 3;
    grid-column-end: 13;
    margin-top: 2.5rem;
    justify-content: center;
}

.text-h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
}

.text-rules {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 150%;
}

.text-game {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-size: 3rem;
}



